* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  color: #333333;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #9c1f1f;
}

a:hover {
  color: #c72727;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  border-top: solid 1px #CCCCCC;
}

.content h1 {
  font-size: 42px;
  font-weight: bold;
}

.content h2 {
  font-size: 30px;
  font-weight: bold;
}

.menu-nav ul {
  padding-left: 0px;
}

.menu-nav {
  font-size: 30px;
}

.menu-nav a {
  color: #000000;
  text-decoration: none;
}

.menu-nav a:hover {
  color: #9c1f1f;
}

.menu-nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.menu h1 a {
  text-decoration: none;
}

.pull-right {
  float: right;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.post-header small {
  margin-top: 0px;
}

.post-header h1 {
  margin-bottom: 0px;
}

.post-header h2 {
  margin-bottom: 0px;
}

.post-header h1 a {
  color: #333333;
  text-decoration: none
}

.post-header h1 a:hover {
  color: #333333;
}

.post {
  padding-bottom: 50px;
}

.user img {
  float: left;
  margin-right: 10px;
}

.user h2 {
  padding-left: 120px;
}

.user p {
  padding-left: 120px;
}

@media screen and (min-width: 980px) {
  .container {
    margin: 0 auto;
    width: 980px;
  }

  .menu {
    position: fixed;
    float: left;
    width: 270px;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 30px;
  }

  .content {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 270px;
    border-top: none;
    border-left: solid 1px #CCCCCC;
    width: 710px;
  }

  .content h1 {
    font-size: 50px;
  }
}