<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
    <link href="/css/stormcoders.css" rel="stylesheet" media="screen">
    <link href="/css/normalize.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <h1><a href="/index.html">StormCoders</a></h1>
        <p>Programação arte.</p>
        <ul class='menu-nav'>
          <li><a href="https://github.com/stormcoders"><i class="icon-github"></i></a></li>
          <li><a href="https://twitter.com/stormcoders"><i class="icon-twitter"></i></a></li>
          <li><a href="mailto:stormcoders@gmail.com"><i class="icon-envelope"></i></a></li>
        </ul>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>